.divMenu {
    display: block;
    width: 90%;
    margin: 0 auto;
    height: 100px;
    background-color: #61dafb;
}
.ul {
    display: flex;

   justify-content: center;
}
.ul li {
    margin: 15px 12px;
    list-style-type: none;
}
.ul li a {
    font-size: 25px;
}